In [9]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error, r2_score
import os 

#drive.mount('/content/drive')

# Load your dataset
# Replace 'your_dataset.csv' with the actual filename

data = pd.read_csv('cancer patient data sets.csv')

In [10]:
data = data[['Age', 'Gender', 'Air Pollution', 'Alcohol use',
       'Dust Allergy', 'OccuPational Hazards', 'Genetic Risk',
       'chronic Lung Disease', 'Smoking', 'Snoring', 'Level']]

In [11]:
data.head(10)

,Age,Gender,Air Pollution,Alcohol use,Dust Allergy,OccuPational Hazards,Genetic Risk,chronic Lung Disease,Smoking,Snoring,Level
0,33,1,2,4,5,4,3,2,3,4,Low
1,17,1,3,1,5,3,4,2,2,2,Medium
2,35,1,4,5,6,5,5,4,2,2,High
3,37,1,7,7,7,7,6,7,7,5,High
4,46,1,6,8,7,7,7,6,8,3,High
5,35,1,4,5,6,5,5,4,2,2,High
6,52,2,2,4,5,4,3,2,3,4,Low
7,28,2,3,1,4,3,2,3,1,3,Low
8,35,2,4,5,6,5,6,5,6,1,Medium
9,46,1,2,3,4,2,4,3,2,5,Medium

In [12]:
data.columns

Index(['Age', 'Gender', 'Air Pollution', 'Alcohol use', 'Dust Allergy',
       'OccuPational Hazards', 'Genetic Risk', 'chronic Lung Disease',
       'Smoking', 'Snoring', 'Level'],
      dtype='object')

In [13]:
data.describe()

,Age,Gender,Air Pollution,Alcohol use,Dust Allergy,OccuPational Hazards,Genetic Risk,chronic Lung Disease,Smoking,Snoring
count,1000.000000,1000.000000,1000.0000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,37.174000,1.402000,3.8400,4.563000,5.165000,4.840000,4.580000,4.380000,3.948000,2.926000
std,12.005493,0.490547,2.0304,2.620477,1.980833,2.107805,2.126999,1.848518,2.495902,1.474686
min,14.000000,1.000000,1.0000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,27.750000,1.000000,2.0000,2.000000,4.000000,3.000000,2.000000,3.000000,2.000000,2.000000
50%,36.000000,1.000000,3.0000,5.000000,6.000000,5.000000,5.000000,4.000000,3.000000,3.000000
75%,45.000000,2.000000,6.0000,7.000000,7.000000,7.000000,7.000000,6.000000,7.000000,4.000000
max,73.000000,2.000000,8.0000,8.000000,8.000000,8.000000,7.000000,7.000000,8.000000,7.000000

In [14]:
data.isna().sum()

Age                     0
Gender                  0
Air Pollution           0
Alcohol use             0
Dust Allergy            0
OccuPational Hazards    0
Genetic Risk            0
chronic Lung Disease    0
Smoking                 0
Snoring                 0
Level                   0
dtype: int64

In [15]:
# Define features (X) and target variable (y)
data = data[['Age', 'Gender', 'Air Pollution', 'Alcohol use',
       'Dust Allergy', 'OccuPational Hazards', 'Genetic Risk',
       'chronic Lung Disease', 'Smoking', 'Snoring', 'Level']]
X = data.drop(columns=['Level'])  # Features
y = data['Level']  # Target variable

# Split the dataset into training and testing sets
# Adjust the test_size parameter as needed
# Adjust the random_state parameter for reproducibility if needed
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Now you can use X_train and y_train for training your model
# And X_test and y_test for evaluating its performance

In [39]:
X_test

,Age,Gender,Air Pollution,Alcohol use,Dust Allergy,OccuPational Hazards,Genetic Risk,chronic Lung Disease,Smoking,Snoring
521,48,2,1,6,7,8,7,6,3,1
737,62,1,6,8,7,7,7,6,1,2
740,22,1,6,8,7,7,7,6,1,2
660,37,2,7,7,7,7,6,7,7,5
411,46,2,1,6,7,5,3,2,3,5
...,...,...,...,...,...,...,...,...,...,...
408,35,1,2,1,5,3,2,3,1,3
332,18,2,6,8,7,7,7,6,8,3
208,28,1,6,7,7,7,7,6,7,3
613,44,1,2,3,2,1,3,2,7,3
78,46,2,1,6,7,5,3,2,3,5

In [16]:
y_train.info()

<class 'pandas.core.series.Series'>
Index: 800 entries, 29 to 102
Series name: Level
Non-Null Count  Dtype
--------------  -----
800 non-null    object
dtypes: object(1)
memory usage: 12.5+ KB

In [17]:
# Initialize KNN classifier
k = 5  # Number of neighbors
model = KNeighborsClassifier(n_neighbors=k)

# Train the KNN classifier
model.fit(X_train, y_train)

# Predict the labels for test set
y_pred = model.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy of KNN classifier:", accuracy)

Accuracy of KNN classifier: 0.995

In [20]:
import pickle

# Save the trained model to a file
with open('model.pkl', 'wb') as file:
    pickle.dump(model, file)

In [64]:
a = np.array([[45,2,8,6,7,8,7,6,8,1]])
a =pd.DataFrame(a)
a

    0  1  2  3  4  5  6  7  8  9
0  45  2  8  6  7  8  7  6  8  1

In [54]:
a =X_test[1:2]

In [65]:
# Load the saved model from the file
with open('model.pkl', 'rb') as file:
    loaded_model = pickle.load(file)

# Now, you can use the loaded_model for making predictions
y_pred_loaded = loaded_model.predict(a)  # Assuming the input data is in the correct format

# Evaluating the loaded model
#accuracy_loaded = accuracy_score(y_test, y_pred_loaded)
#print("Accuracy of loaded model:", accuracy_loaded)

C:\Users\SARAN PRAKASH M\AppData\Roaming\Python\Python312\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [66]:
y_pred_loaded

array(['High'], dtype=object)

In [22]:
X_test

,Age,Gender,Air Pollution,Alcohol use,Dust Allergy,OccuPational Hazards,Genetic Risk,chronic Lung Disease,Smoking,Snoring
521,48,2,1,6,7,8,7,6,3,1
737,62,1,6,8,7,7,7,6,1,2
740,22,1,6,8,7,7,7,6,1,2
660,37,2,7,7,7,7,6,7,7,5
411,46,2,1,6,7,5,3,2,3,5
...,...,...,...,...,...,...,...,...,...,...
408,35,1,2,1,5,3,2,3,1,3
332,18,2,6,8,7,7,7,6,8,3
208,28,1,6,7,7,7,7,6,7,3
613,44,1,2,3,2,1,3,2,7,3
78,46,2,1,6,7,5,3,2,3,5

In [59]:
y_pred

array(['Medium', 'Medium', 'Medium', 'High', 'Medium', 'Medium', 'Medium',
       'Medium', 'Medium', 'Medium', 'Low', 'Medium', 'Medium', 'Medium',
       'Low', 'High', 'Low', 'High', 'High', 'High', 'High', 'Medium',
       'Low', 'Medium', 'High', 'Low', 'Medium', 'High', 'Low', 'Low',
       'Low', 'High', 'Medium', 'Low', 'Low', 'High', 'High', 'Medium',
       'High', 'Low', 'High', 'High', 'Low', 'Medium', 'Medium', 'Low',
       'Low', 'Medium', 'High', 'Low', 'Medium', 'High', 'Low', 'High',
       'High', 'High', 'Low', 'High', 'High', 'Low', 'Medium', 'Low',
       'High', 'High', 'Low', 'Medium', 'High', 'High', 'Medium', 'High',
       'High', 'Low', 'Medium', 'Medium', 'Medium', 'Medium', 'High',
       'Low', 'Low', 'Medium', 'Medium', 'Medium', 'Low', 'Medium',
       'High', 'High', 'High', 'Low', 'High', 'High', 'Low', 'Low',
       'Medium', 'High', 'High', 'High', 'High', 'High', 'Medium', 'Low',
       'Low', 'High', 'Low', 'Low', 'Medium', 'High', 'High', 'Medium',
       'Medium', 'Medium', 'Medium', 'High', 'High', 'Low', 'Medium',
       'High', 'Medium', 'High', 'Medium', 'Medium', 'High', 'High',
       'Low', 'Low', 'Medium', 'High', 'High', 'High', 'High', 'High',
       'Low', 'Medium', 'Low', 'High', 'Medium', 'Low', 'Medium', 'High',
       'Medium', 'Medium', 'Low', 'Medium', 'Low', 'Low', 'High',
       'Medium', 'Low', 'High', 'Low', 'High', 'High', 'Low', 'Medium',
       'High', 'Low', 'High', 'High', 'High', 'Low', 'High', 'Low',
       'High', 'High', 'High', 'High', 'Medium', 'Medium', 'High', 'High',
       'High', 'High', 'Medium', 'High', 'High', 'Low', 'High', 'Medium',
       'Low', 'Medium', 'High', 'Low', 'High', 'Low', 'Medium', 'High',
       'Medium', 'High', 'Medium', 'Low', 'Medium', 'Low', 'Low',
       'Medium', 'High', 'High', 'Medium', 'High', 'High', 'Low',
       'Medium'], dtype=object)

In [11]:
from sklearn.metrics import classification_report

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

        High       1.00      1.00      1.00        82
         Low       1.00      0.98      0.99        55
      Medium       0.98      1.00      0.99        63

    accuracy                           0.99       200
   macro avg       0.99      0.99      0.99       200
weighted avg       1.00      0.99      0.99       200

In [16]:

# Initialize the Naive Bayes classifier (Gaussian Naive Bayes in this case)
nb_classifier = GaussianNB()

# Training the classifier on the training data
nb_classifier.fit(X_train, y_train)

# Making predictions on the test data
y_pred = nb_classifier.predict(X_test)

# Evaluating the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Classification report
print(classification_report(y_test, y_pred))

Accuracy: 0.635
              precision    recall  f1-score   support

        High       0.75      0.80      0.78        82
         Low       0.62      0.84      0.71        55
      Medium       0.39      0.24      0.30        63

    accuracy                           0.64       200
   macro avg       0.59      0.63      0.60       200
weighted avg       0.60      0.64      0.61       200

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

# Assuming you have your data stored in X (features) and y (labels) variables

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the logistic regression model
logistic_reg = LogisticRegression()

# Training the model on the training data
logistic_reg.fit(X_train, y_train)

# Making predictions on the test data
y_pred = logistic_reg.predict(X_test)

# Evaluating the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Classification report
print(classification_report(y_test, y_pred))

Accuracy: 0.82
              precision    recall  f1-score   support

        High       0.87      0.87      0.87        82
         Low       0.85      0.84      0.84        55
      Medium       0.73      0.75      0.74        63

    accuracy                           0.82       200
   macro avg       0.82      0.82      0.82       200
weighted avg       0.82      0.82      0.82       200

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(